@import './reset';
@import './pagination';

.content-wrapper{
    padding:10px;
    height:100%
}
.book-items {
    table {
        tr td {
            text-align: center;
            overflow: hidden;
            vertical-align: middle;
        }
        td.img img {
            // display: block;
            height: 60px;
        }
    }
}
.hidden{
    display: none
}
.publish-img-box {
    .info-box-content {
        width: 120px;
        margin: 0;
    }
}

#bookDetial{
    button{
        width:100px;
        float: right;
        margin-top: 0;
        margin-right: 10px
    }
    .form-group{
        div,p{
            padding: 0 50px
        }

    }
}
.search{
    justify-content: flex-end;
    margin: 5px 10px;
    .col-sm-2{
        margin-right: -7px
    }
}
