
<section class="content" id="bookDetial">
    <div class="container-fluid">
        <div class="card card-primary card-outline">
        <div class="card-header ">
            <div class="row">
            <h3 class="card-title col-md-6">百年孤独</h3>
            </div>
        </div> <!-- /.card-body -->
        <div class="card-body">
            <div class="form-group">
                <label for="bookCover">Cover</label>
                <div>
                <img class="bookCover" src="http://10.60.18.149:3000/images/bookCover/bainiangudu-1552055432792.jpg" alt="" width="100px" height="80px">
                </div>
            </div>
            <div class="form-group">
                <label>Name</label>
                <p>百年孤独</p>
            </div>
            <div class="form-group">
                <label>Author</label>
                <p>百年孤独</p>
            </div>
            <div class="form-group">
                <label>Type</label>
                <p>百年孤独</p>
            </div>
            <div class="form-group">
                <label>Press</label>
                <p>百年孤独</p>
            </div>
            <div class="form-group">
                <label>TotalNum</label>
                <p>百年孤独</p>
            </div>
            <div class="form-group">
                <label>PublishTime</label>
                <p>百年孤独</p>
            </div>  
            <div class="form-group">
                <label>StorageDate</label>
                <p>百年孤独</p>
                <p></p>
            </div>  
            <div class="form-group">
                <label>Abstract</label>
                <div>百年孤独</div>
            </div> 
        </div><!-- /.card-body -->
        </div>
    </div><!-- /.container-fluid -->
</section>
  
  